<div class="wrapper">
  <div class="section">
    <h2 class="section__heading">Orders</h2>
    <ul class="section__qa">
      <li class="section__question">How are payments processed?</li>
      <li class="section__answer">We use Stripe to securely process payments.</li>
    </ul>
    <ul class="section__qa">
      <li class="section__question">Where is my order?</li>
      <li class="section__answer">If it's been more than 3 weeks, or if your order has arrived with missing items, send a message to <b>orders@outsidersignal.com</b></li>
    </ul>
  </div>
  <div class="bar"></div>
  <div class="section">
    <h2 class="section__heading">Shipping</h2>
    <ul class="section__qa">
      <li class="section__question">How much does shipping cost?</li>
      <li class="section__answer">We ship anywhere in the world for a flat rate of $5.</li>
    </ul>
    <ul class="section__qa">
      <li class="section__question">How long does shipping take?</li>
      <li class="section__answer">Allow 1-2 weeks for orders within the United States, and 2-3 weeks for all international orders.</li>
    </ul>
    <ul class="section__qa">
      <li class="section__question">Which countries do you ship to?</li>
      <li class="section__answer">Not many. We ship to all countries within North America and the EU. We're hoping to add more soon.</li>
    </ul>
    </ul>
  </div>
  <div class="bar"></div>
  <div class="section">
    <h2 class="section__heading">Returns</h2>
    <ul class="section__qa">
      <li class="section__question">What is your return policy?</li>
      <li class="section__answer">We accept returns on all orders up to 30 days after delivery.</li>
    </ul>
  </div>
  <div class="bar"></div>
  <div class="section">
    <h2 class="section__heading">Sizing</h2>
    <ul class="section__qa">
      <li class="section__question">What size should I buy?</li>
      <li class="section__answer">Refer to our sizing guide <a class="teal" href="">here</a>. If you're not sure, all of our items are more or less standard size.</li>
    </ul>
  </div>
</div>

