<footer>
  <div class="sub-menu">
    <div>
      <ul class="sub-menu__item">
        <h2 class="sub-menu__title">Contact</h2>
        <div class="sub-menu__line"></div>
        <li class="sub-menu__link">Orders:</li>
        <li class="sub-menu__link">Orders@outsidersignal.com</li>
        <li class="sub-menu__link">Team:</li>
        <li class="sub-menu__link">Team@outsidersignal.com</li>
      </ul>
    </div>
    <div>
      <ul class="sub-menu__item">
        <h2 class="sub-menu__title">Help</h2>
        <div class="sub-menu__line"></div>
        <li class="sub-menu__link"><a class="a" href="/help">Orders</a></li>
        <li class="sub-menu__link"><a class="a" href="/help">Shipping</a></li>
        <li class="sub-menu__link"><a class="a" href="/help">Returns</a></li>
        <li class="sub-menu__link"><a class="a" href="/help">Sizing</a></li>
      </ul>
    </div>
    <div>
      <ul class="sub-menu__item sub-menu__item--hide">
        <h2 class="sub-menu__title">Follow</h2>
        <div class="sub-menu__line"></div>
        <a href="https://www.youtube.com/channel/UCfm35-uUTZK8YGKsp2OMzHg" target="_blank"><i class="sub-menu__media fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/outsidersignal/" target="_blank"><i class="sub-menu__media fab fa-instagram"></i></a>
        <a href="https://twitter.com/outsidersignal" target="_blank"><i class="sub-menu__media fab fa-twitter"></i></a>
      </ul>
    </div>
  </div>
  <span class="copyright">
    <span class="copyright__title">Outsider Signal &copy; </span><span class="copyright__year">2019</span>
  </span>
</footer>
