<header>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger__stack"></span>
    <span class="hamburger__stack"></span>
    <span class="hamburger__stack"></span>
  </div>
  <ul class="main-menu" id="js-main-menu">
    <li class="main-menu__item"><a class="main-menu__link" href="/shop">Shop</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/team">Team</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/blog">Blog</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="https://www.youtube.com/channel/UCfm35-uUTZK8YGKsp2OMzHg" target="_blank">Watch</a></li>
  </ul>
  <div class="half-circle"></div>
  <div>
    <a href="/"><img class="main-menu__logo" src="../images/logo.svg" alt=""></img></a>
  </div>
  <a class="bag__icon" href="/bag">
    <span class="bag__counter">{{session.bag.totalQty}}</span>
  </a>
</header>
