<div class="instagram">
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/B0Z85vKluvf/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/B0Z85vKluvf/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/B0HfomFlHir/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/B0HfomFlHir/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/Bz1TOHFF75d/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/Bz1TOHFF75d/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/BzjCXqll05u/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/BzjCXqll05u/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/BtFScnWAsQY/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/BtFScnWAsQY/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://instagram.com/p/BsysAhDAkU-/" target="_blank">
      <img class="instagram__thumbnail" src="https://instagram.com/p/BsysAhDAkU-/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/BsgsfrUARHG/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/BsgsfrUARHG/media/?size=l">
    </a>
  </div>
  <div class="instagram__post">
    <a href="https://www.instagram.com/p/BsPJd4ZlgbP/" target="_blank">
      <img class="instagram__thumbnail" src="https://www.instagram.com/p/BsPJd4ZlgbP/media/?size=l">
    </a>
  </div>
</div>
