<div class="mailing-list">
  <h2 class="mailing-list__heading">Join the team and get<br/>10% off every order.</h2>
  <form class="mailing-list__form" action="/mailing-list" method="post" >
    <input class="mailing-list__input" id="js-mailing-list__input" type="text" name="email" placeholder="Enter your email">
    <div class="mailing-list__ghost" id="js-mailing-list__ghost"></div>
    <button class="mailing-list__button" id="js-mailing-list__button" name="mailing-list__button" disabled><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </form>
</div>
