<div class="swiper-slide team">
  <a class="slide__link" href="/team">
    <div class="slide__wrapper team">
      <h1 class="slide__title team">Demo Title</h1>
      <h2 class="slide__subtitle team">Demo Subtitle</h2>
      <a class="slide__button team" href="/team">Meet the Team</a>
    </div>
  </a>
</div>