<div class="swiper-slide watch">
  <a class="slide__link" href="https://www.youtube.com/channel/UCfm35-uUTZK8YGKsp2OMzHg">
    <div class="slide__wrapper watch">
      <h1 class="slide__title watch">Demo Title</h1>
      <h2 class="slide__subtitle watch">Demo Subtitle</h2>
      <a class="slide__button watch" href="https://www.youtube.com/channel/UCfm35-uUTZK8YGKsp2OMzHg">Watch Now</a>
    </div>
  </a>
</div>