<div class="swiper-slide shop">
  <a class="slide__link" href="/shop">
    <div class="slide__wrapper shop">
      <h1 class="slide__title shop">Demo Title</h1>
      <h2 class="slide__subtitle shop">Demo Subtitle</h2>
      <a class="slide__button shop" href="/shop">Shop</a>
    </div>
  </a>
</div>