body {
  background: $rgb40;
}

.instagram {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
}



.instagram__thumbnail {
  display: block;
  width: 100%;
  max-width: 48rem;
  cursor: pointer;
}

@media (max-width: $tablet) {
  .instagram {
    grid-template-columns: repeat(2, 1fr);
  }
}
