#empty-div {
  margin: 180px auto 100px auto;
  text-align: center;

  a {
    @include a;
    color: $teal;
    text-decoration: underline;
  }
}

#quantity {
  position: relative;
  top: 40px;
  width: 50px;
  height: 25px;
}

select {
  width: 100%;
  height: 25px;
  border: 0;
  text-indent: 5px;
}

#empty-h2 {
  @include kai-24;
}

#empty-span {
  @include kai-18;
}

#promo {
  height: 60px;

  button {
    @include kai-18;
    background: $bg;
    border-radius: 0.1rem;
    color: $rgb20;
  }

  form {
    display: grid;
    margin-bottom: 20px;
    padding: 0 20px;
    grid-template-columns: 1fr 60px;
  }

  input {
    @include kai-18;
    width: 100%; // FIXME: Keep for resize
    height: 36px;
    background: $rgb40;
    border: 0;
    border-radius: 1px;
    border-radius: 1px;
    color: $rgb255;
    text-indent: 10px;
  }
}

.pad {
  padding: 20px;
}

.spacer-60 {
  position: relative;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid $rgb30;

  span {
    @include kai-18;
    margin-left: 20px;
  }
}

.spacer-80 {
  position: relative;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid $rgb30;

  a {
    text-decoration: none;
  }

  span {
    @include kai-24;
    margin-left: 20px;
  }
}

.item-attributes {
  @include rob-con-12;
  color: $rgb0;

  li {
    font-weight: 700;
  }
}

.item-name {
  @include kai-18;
  margin-bottom: 20px;
}

.item-price {
  @include kai-18;
  position: absolute;
  top: 20px;
  right: 20px;
}

.item-tile {
  display: grid;
  max-width: 640px;
  background: $bg;
  grid-column-start: 1;
  grid-template-columns: 220px auto;
}

.main-image {
  max-width: 220px;
}

.order-info {
  position: relative;
  padding: 20px;

  span {
    display: block;
    color: $rgb0;
  }
}

#order-summary {
  display: grid;
  width: 100%;
  max-width: 640px;
  margin: 180px auto 100px auto;
  align-items: start; // FIXME:
}

#order-total {
  background: $rgb20;
}

.shipping {
  position: absolute;
  right: 20px;
}

.subtotal {
  position: absolute;
  right: 20px;
}

.total {
  position: absolute;
  right: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.rotate {
  transform: rotate(-180deg);
  transition: 100ms;
}

@media (max-width: 960px) {
  #order-summary {
    margin: 180px auto 100px auto;
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 640px) {
  .remove-button {
    bottom: 10px;
    left: 10px;
  }

  .item-name {
    font-size: 14px;
  }

  .item-price {
    font-size: 14px;
  }

  #order-summary {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .item-tile {
    grid-template-columns: 1fr 1fr;

    img {
      width: 100%;
    }
  }
}
