.slide__wrapper.watch {
  @include center-x;
  bottom: 20rem;
  text-align: center;
}

.swiper-slide.watch {
  @include bg-image('checkers-red.png');
}

@media (max-width: $tablet) {
  .slide__wrapper.watch {
    @include center-x;
    bottom: 10rem;
    text-align: center;
  }
}
