$mobile: 640px;
$tablet: 960px;
$laptop: 1280px;
$desktop: 1440px;
$bg: rgb(40, 40, 40);
$error: rgb(255, 100, 100);
$imagesDir: '../images/';
$rgb0: rgb(0, 0, 0);
$rgb20: rgb(20, 20, 20);
$rgb30: rgb(30, 30, 30);
$rgb40: rgb(40, 40, 40);
$rgb240: rgb(240, 240, 240);
$rgb255: rgb(255, 255, 255);
$teal: rgb(60, 230, 180);
$tealActive: rgb(80, 255, 200);
