<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/css/article.css">
  </head>
  <body>
    <div class="page__wrapper">
      {{> header}}
      {{> post}}
      {{> footer}}
    </div>
    {{> scripts}}
    <script src="https://cdn.commento.io/js/commento.js"></script>
  </body>
</html>
