<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/css/blog.css">
  </head>
  <body>
    <div class="page__wrapper">
      {{> header}}
      {{> title}}
      {{> posts}}
      {{> footer}}
    </div>
    {{> scripts}}
    <script src="/js/validate-search.js"></script>
  </body>
</html>
