<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/css/help.css">
  </head>
  <body>
    <div class="page__wrapper">
      {{> header}}
      {{> title}}
      {{> faq}}
      {{> footer}}
    </div>
    {{> scripts}}
  </body>
</html>
