<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/lib/swiper-4.3.3/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="page__wrapper"></div>
      {{> header}}
      {{> slider}}
      {{> mail}}
      {{> footer}}
    </div>
    {{> scripts}}
    <script src="/lib/swiper-4.3.3/dist/js/swiper.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/validate-email.js"></script>
  </body>
</html>
