<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/css/ie.css">
  </head>
  <body>
    <div class="page__wrapper">
      {{> promptIE}}
    </div>
    {{> scripts}}
  </body>
</html>
