<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/css/shop.css">
  </head>
  <body>
    <div class="page__wrapper"></div>
      {{> header}}
      {{> banner}}
      {{> products}}
      {{> mail}}
      {{> footer}}
    </div>
    {{> scripts}}
    <script src="/js/validate-email.js"></script>
  </body>
</html>
