<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <link rel="stylesheet" href="/css/spotlight.css">
  </head>
  <body>
    <div class="page__wrapper">
      {{> header}}
      {{> product}}
      {{> footer}}
    </div>
    {{> scripts}}
    <script src="/js/spotlight.js"></script>
  </body>
</html>
