@font-face {
  font-family: kai;
  src: url("../fonts/bebas-kai.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

a:active,
a:focus {
  outline: none; }

body {
  background: #282828; }

button {
  border: 0;
  cursor: pointer; }

html {
  font-size: 62.5%; }

.hide {
  display: none; }

.show {
  display: block; }

h1 {
  font-weight: 400; }

li {
  list-style-type: none; }

.page__wrapper {
  width: 100%;
  max-width: 192rem;
  margin: 8rem auto 0 auto; }

.prompt {
  padding: 20rem 0;
  text-align: center; }

.prompt__heading {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  color: white; }

.prompt__message {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: white; }

.copyright__title {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: white; }

.copyright__year {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: white; }

footer {
  width: 100%;
  padding: 4rem 0 1rem 0;
  background: #1e1e1e;
  text-align: center; }

.sub-menu {
  display: grid;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr); }

.sub-menu__line {
  width: 12.5rem;
  height: 0.1rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  background: white;
  opacity: 0.1; }

.sub-menu__link {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  text-decoration: none; }

.sub-menu__item {
  margin-bottom: 4rem;
  font-size: 0;
  text-align: center; }

.sub-menu__media {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.8rem;
  color: white;
  cursor: pointer; }

.sub-menu__title {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center; }

@media (max-width: 640px) {
  .sub-menu {
    grid-template-columns: 1fr 1fr; }
  .sub-menu__item--hide {
    display: none; } }

.bag__counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  bottom: 0;
  color: #1e1e1e;
  cursor: pointer; }

.bag__icon {
  background-position: center;
  background-image: url(../images/bag.svg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 2.4rem;
  right: 4rem;
  width: 2.2rem;
  height: 3.2rem; }

.half-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 2rem;
  width: 8rem;
  height: 8rem;
  background: #1e1e1e;
  border-radius: 4rem; }

.hamburger {
  display: none;
  position: absolute;
  top: 2.25rem;
  left: 2.25rem;
  width: 5rem;
  height: 3.5rem;
  cursor: pointer; }

.hamburger__stack:nth-child(2) {
  top: 1.5rem; }

.hamburger__stack:nth-child(3) {
  top: 3rem; }

.hamburger__stack {
  display: block;
  position: absolute;
  width: 5rem;
  height: 0.5rem;
  background: white;
  border-radius: 0.25rem;
  transition: ease-out 100ms; }

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 8rem;
  background: #1e1e1e; }

.main-menu__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 1rem;
  height: 8rem;
  fill: white; }

.main-menu {
  height: 8rem;
  margin: 0 auto;
  line-height: 8rem;
  font-size: 0;
  text-align: center; }

.main-menu__item:nth-child(2) {
  margin-right: 8rem; }

.main-menu__item:nth-child(3) {
  margin-left: 8rem; }

.main-menu__item {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  display: inline;
  margin: 0 2rem;
  color: white;
  cursor: pointer; }

@media (max-width: 640px) {
  .bag__icon {
    right: 2.25rem;
    width: 2.2rem;
    height: 3.2rem; }
  .hamburger {
    display: block; }
  .hamburger__stack.active:nth-child(1) {
    transform: translateY(1.5rem) rotate(45deg); }
  .hamburger__stack.active:nth-child(2) {
    opacity: 0; }
  .hamburger__stack.active:nth-child(3) {
    transform: translateY(-1.5rem) rotate(-45deg); }
  .main-menu {
    position: absolute;
    top: 8rem;
    left: -100%;
    width: 100%;
    height: auto;
    padding: 5rem 0;
    background: #141414;
    transition: ease-out 200ms; }
  .main-menu.active {
    left: 0;
    transition: ease-out 200ms; }
  .main-menu__item {
    display: block;
    height: 5rem;
    margin: 0;
    line-height: 5rem;
    transition: ease-out 200ms; }
  .main-menu__item:nth-child(2) {
    margin-right: 0; }
  .main-menu__item:nth-child(3) {
    margin-left: 0; }
  .main-menu__link {
    display: block; } }

.page__banner {
  height: 18rem;
  line-height: 18rem;
  text-align: center; }

.page__heading {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: white; }

.mailing-list {
  position: relative;
  width: 100%;
  height: 32rem;
  background: #141414; }

.mailing-list__button {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  position: absolute;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: white;
  border: 0.1rem solid white;
  color: #141414;
  cursor: pointer; }

.mailing-list__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  top: calc(50% + 3.5rem);
  text-align: center; }

.mailing-list__form::placeholder {
  color: white;
  opacity: 0.75; }

.mailing-list__ghost {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer; }

.mailing-list__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  top: calc(50% - 3.5rem);
  width: 100%;
  color: white;
  text-align: center; }

.mailing-list__input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  width: 25rem;
  height: 4rem;
  padding-right: 5rem;
  background: #141414;
  border: 0.1rem solid white;
  color: white;
  text-indent: 1rem; }

@media (max-width: 640px) {
  .mailing-list__input {
    top: calc(50% + 3rem); }
  .mailing-list__title {
    top: calc(50% - 3rem); } }

.slide__button {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
  height: 4rem;
  padding: 0 2.5rem;
  line-height: 4rem;
  border: 0.1rem solid black;
  border-radius: 0.1rem; }

.slide__button {
  transform: translateZ(0); }
  .slide__button:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    content: '';
    opacity: 0.5;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: 200ms ease; }
  .slide__button:hover:before {
    transform: scaleX(1); }

.slide__link {
  display: block;
  width: 100%;
  height: 100%; }

.slide__subtitle {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 2rem; }

.slide__title {
  font-family: kai, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 2rem; }

.slide__wrapper {
  position: absolute;
  white-space: nowrap; }

.swiper-slide {
  width: 100%;
  height: calc(100vh - 8rem);
  cursor: pointer; }

.slide__wrapper.shop {
  right: 20rem;
  bottom: 20rem;
  text-align: right; }

.swiper-slide.shop {
  background-position: center;
  background-image: url(../images/checkers-green.png);
  background-repeat: no-repeat; }

@media (max-width: 960px) {
  .slide__wrapper.shop {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    right: auto;
    bottom: 10rem;
    text-align: center; } }

.slide__wrapper.team {
  bottom: 20rem;
  left: 20rem; }

.swiper-slide.team {
  background-position: center;
  background-image: url(../images/checkers-purple.png);
  background-repeat: no-repeat; }

@media (max-width: 960px) {
  .slide__wrapper.team {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10rem;
    text-align: center; } }

.slide__wrapper.watch {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20rem;
  text-align: center; }

.swiper-slide.watch {
  background-position: center;
  background-image: url(../images/checkers-red.png);
  background-repeat: no-repeat; }

@media (max-width: 960px) {
  .slide__wrapper.watch {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10rem;
    text-align: center; } }
